@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');

.app {
  --carousel-width: 100vw;
  --color-palet-blue: #21bed9;
  --color-palet-green: #ddf564;
  --color-palet-purple: #e872a8;
  --color-palet-orange: #fb9632;
  --color-palet-yellow: #f6e751;

  font-family: 'Cocogoose',sans-serif;
}


/* Cocogoose Font */

@font-face {
  font-family: 'Cocogoose';
  src: url('./media/fonts/cocogoose/Cocogoose\ Pro-trial.ttf')  format('truetype');
}

@font-face {
  font-family: 'CocogooseItalic';
  src: url('./media/fonts/cocogoose/Cocogoose\ Pro\ Italic-trial.ttf')  format('truetype');
}

@font-face {
  font-family: 'CocogooseLight';
  src: url('./media/fonts/cocogoose/Cocogoose\ Pro\ Light-trial.ttf')  format('truetype');
}

@font-face {
  font-family: 'CocogooseLightItalic';
  src: url('./media/fonts/cocogoose/Cocogoose\ Pro\ Light\ Italic-trial.ttf')  format('truetype');
}

@font-face {
  font-family: 'CocogooseSemiLight';
  src: url('./media/fonts/cocogoose/Cocogoose\ Pro\ Semilight-trial.ttf')  format('truetype');
}

@font-face {
  font-family: 'CocogooseSemiLightItalic';
  src: url('./media/fonts/cocogoose/Cocogoose\ Pro\ Semilight\ Italic-trial.ttf')  format('truetype');
}

@font-face {
  font-family: 'CocogooseThin';
  src: url('./media/fonts/cocogoose/Cocogoose\ Pro\ Thin-trial.ttf')  format('truetype');
}

@font-face {
  font-family: 'CocogooseThinItalic';
  src: url('./media/fonts/cocogoose/Cocogoose\ Pro\ Thin\ Italic-trial.ttf')  format('truetype');
}

@font-face {
  font-family: 'CocogooseUltraLight';
  src: url('./media/fonts/cocogoose/Cocogoose\ Pro\ Ultralight-trial.ttf')  format('truetype');
}

@font-face {
  font-family: 'CocogooseUltraLightItalic';
  src: url('./media/fonts/cocogoose/Cocogoose\ Pro\ UltraLight\ Italic-trial.ttf')  format('truetype');
}



@font-face {
  font-family: 'beyond_the_mountain';
  src: url('./media/fonts/beyondTheMountains/beyond_the_mountains.ttf')  format('truetype');
}
